aiodns==2.0.0
aiohttp==3.5.4
appnope==0.1.0
asgiref==3.1.2
astroid==2.2.5
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.5.1
Automat==0.7.0
autopep8==1.4.4
awscli==1.16.140
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
boto3==1.9.131
botocore==1.12.131
cachetools==4.2.1
certifi==2018.11.29
cffi==1.12.3
channels==2.2.0
chardet==3.0.4
chromedriver-binary==89.0.4389.23.0
Click==7.0
cloudinary==1.24.0
colorama==0.3.9
constantly==15.1.0
cycler==0.10.0
daphne==2.3.0
decorator==4.4.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.4
django-cors-headers==3.0.2
django-rest-framework==0.1.0
django-storages==1.7.1
django-webpack-loader==0.6.0
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
docutils==0.14
emoji==0.5.4
entrypoints==0.3
fastapi==0.63.0
Flask==1.0.2
flask-paginate==0.8.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
future==0.17.1
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth==1.27.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-images-download==2.8.0
googleapis-common-protos==1.52.0
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.9.9
html5lib==1.0.1
httpcore==0.9.1
httplib2==0.19.0
httpx==0.13.3
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipykernel==5.1.2
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.20
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.4
jsonfield==2.0.2
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
lxml==4.3.3
MarkupSafe==1.1.0
matplotlib==3.1.0
mccabe==0.6.1
mecab-python3==0.996.2
mistune==0.8.4
mojimoji==0.0.11
multidict==4.5.2
mysqlclient==1.4.2.post1
nbconvert==5.6.0
nbformat==4.4.0
neologdn==0.4
notebook==6.0.1
numpy==1.16.3
oauthlib==3.0.1
opencv-python==4.1.0.25
oseti==0.2
packaging==20.9
pandas==0.25.1
pandocfilters==1.4.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.4.1
pipenv==2018.11.26
plotly==4.1.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.15.1
ptyprocess==0.6.0
py-trello==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycares==3.0.0
pycodestyle==2.5.0
pycparser==2.19
pydantic==1.8.1
Pygments==2.4.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.3.1
PyMySQL==0.9.3
pyparsing==2.4.7
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.1
PyYAML==3.13
pyzmq==18.1.0
qtconsole==4.5.5
reportlab==3.5.23
requests==2.21.0
requests-oauthlib==1.2.0
retrying==1.3.3
rfc3986==1.4.0
rsa==3.4.2
s3transfer==0.2.0
selenium==3.141.0
Send2Trash==1.5.0
sengiri==0.2.1
six==1.15.0
slackclient==2.0.1
slackweb==1.0.5
sniffio==1.1.0
soupsieve==1.9
SpeechRecognition==3.8.1
SQLAlchemy==1.3.0
sqlparse==0.3.0
starlette==0.13.6
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
Twisted==19.2.0
twitter==1.18.0
txaio==18.8.1
typed-ast==1.3.5
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.24.1
uvicorn==0.13.4
virtualenv==16.3.0
virtualenv-clone==0.5.1
Wave==0.0.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.14.1
widgetsnbextension==3.5.1
wrapt==1.11.1
xxx==0.0.4
yarl==1.3.0
zope.interface==4.6.0
