beautifulsoup4==4.9.3
bs4==0.0.1
chromedriver-binary==89.0.4389.23.0
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
importlib-metadata==3.7.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mojimoji==0.0.11
Pillow==8.1.2
psycopg2-binary==2.8.6
reportlab==3.5.66
selenium==3.141.0
soupsieve==2.2.1
SQLAlchemy==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
zipp==3.4.1
gunicorn==20.0.4